@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="container-fluid mt-4 p-0">
            

            <NavMenu />
            @Body

            <footer class="footer">
                <p>© 2025 Ruth Rogerson | Racing Digital</p>
           </footer>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
