@page "/"
@using Microsoft.AspNetCore.Components.Web
<PageTitle>Racing Digital</PageTitle>
<h1>Racing Digital</h1>
<div>Welcome to an application written by Ruth Rogerson for the Developer position at Racing Digital - July 2025</div>


